
    /*body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }*/
    
    .x-axis path, .y-axis path {
      display: none;
    }
    
    .rank-line {
      fill: none;
      stroke: black;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    
    .start-dot, .end-dot {
      fill: grey;
    }
    
    .tooltip text {
      font-size: 14px;
      font-weight: 700;
      fill: black;
    }
    
    .x-axis text {
      font-size: 7px;
      font-weight: 700;
    }
    
    .y-axis text {
      font-weight: 700;
    }
    
    text {
		  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; 
      font-family: 'Open Sans', sans-serif;
      opacity: 0.7;
      font-size: 18px;
    }
    
    .y-label {
      fill: black;
      font-size: 18px;
      font-weight: 700;
    }
    
    .voronoi path {
      fill: none;
      pointer-events: all;
    }
    
    .grid-line {
      stroke: black;
      opacity: 0.2;
      stroke-dasharray: 2,2;
    }
    
    .end-label {
      font-size: 14px;
      font-weight: 700;
      fill: black;
      fill-opacity: 0.7;
/*       text-anchor: middle; */
    }